<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StoryHub</title>
        {% if is_active == False %}
            <meta name="csrf" content={{csrf_token}}>
        {% else %}
            <meta name="csrf" content={{active_csrf_token}}>
        {% endif %}
        <script 
            src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div id="StoryBoard">
            <input type="text" onfocusout="set_session('title')" id="title" value={{title}}><br>
            <textarea id="story" onfocusout="set_session('story')">{{story}}</textarea><br>
            <input type="button" onclick="save()" value="Save">
        </div>
        <div>
            <font id="status"></font>
        </div>
        <script>
            function set_session(key){
                var k = $('#'+key).val();
                var d = {[key]: k};
                // console.log(d);
                $.ajax(
                    {
                        url: 'session/set',
                        type: 'POST',
                        data: d,
                        headers: {
                            'X-CSRFToken': $('meta[name="csrf"]').attr('content')
                        },
                        success: function(response){
                            console.log(key+":"+k+ " - session updated");
                        }
                    }
                );

            }
            function save(){
                $.ajax(
                    {
                        url: 'db/save',
                        type: 'POST',
                        headers: {
                            'X-CSRFToken': $('meta[name="csrf"]').attr('content')
                        },
                        success: function(response){
                            $("#status").text(response['status']);
                        },
                        error: function(xhr, status, err){
                            var txt = '';
                            var msg = JSON.parse(xhr.responseText);
                            $("status").text(msg.error); 
                        }
                    }
                );
            }
        </script>
    </body>
</html>